.mainContainer{
	width: 100%;
	height: 100%;
	text-align: center;
}
.projects{
	margin: 2%;
	margin-top: 5%;
	display: inline-block; 
	transition: .5s;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.4);
	align-self: center;
}

a{
	text-decoration: none;
	color: black;
}

img{
	margin: 0px;
	width: 100%;
	height: 30%;
}

.description{
	margin: 5%;
	width: 90%;
}

@media only screen and (min-width: 1200px){
	@keyframes pageTransition{
		from{
			transform: translateX(-100px);
			opacity: 0.5;
		}
		to{
			transform: translateX(0px);
			opacity: 1;
		}
	}


	.mainContainer{
		animation: pageTransition .9s;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	.projects{
		margin-top: 5%;
		display: inline-block; 
		transition: .5s;
		width: 30%;
		height: 100%;
		background-color: transparent;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.4);
		align-self: center;
	}

	a{
		text-decoration: none;
		color: black;
	}

	img{
		margin: 0px;
		width: 100%;
		height: 30%;
	}

	.description{
		margin: 5%;
		width: 90%;
	}

	.projects:hover{
		opacity: 0.8;
		transform: translate(-10px, -10px);
	}

}